# Part 1
### 1. One tailed t-test

In [5]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv('ttest_machine.txt', sep = ' ')
df

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [28]:
st.ttest_rel(df['New_machine'], df['Old_machine'])

Ttest_relResult(statistic=-3.0614273841115844, pvalue=0.013540335651632521)

In [ ]:
# p-value < 0.05  new machine's mean time !=43.23
# statistic is negative.  It means the times New machine < 43.23(mean time from Old machine). 
# Provide sufficient evidence to show new machine is better

### 2.Matched Pairs Test

In [23]:
df1 = pd.read_csv('pokemon.txt', sep=',')
df1

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [29]:
st.ttest_ind(df1['Attack'],df1['Defense'])

Ttest_indResult(statistic=3.241764074042312, pvalue=0.0012123980547321484)

In [ ]:
# p-value < 0.05, reject H0, there are significant differences of Attack vs Defense